%div.border-b-2.border-brand-secondary.pb-10
  %div.max-w-screen-lg.mx-auto.pt-12
    %div.flex.rounded-lg.justify-between.pt-4
      %div{ class: "w-7/12" }
        %h3.text-xl.font-bold.font-serif About this course
        %div.flex.flex-col.w-full.mt-3
          %p.text-brand-gray
            This course will teach you the fundamentals o*f working with Angular 2. You *will learn everything you need to know to create complete applications including: components, services, directives, pipes, routing, HTTP, and even testing.
      %div{ class: "w-5/12 pl-1"}
        %h3.text-xl.font-bold.font-serif What you'll learn
        %div.mt-2
          %div.flex.mt-1.items-center
            %span
              %svg.h-6.w-6.text-brand-gray{xmlns: "http://www.w3.org/2000/svg", fill: 'currentColor'}
                %path{:d => "M0 11l2-2 5 5L18 3l2 2L7 18z"}
            %p.ml-3.text-brand-gray Fundamentals of Angular
          %div.flex.mt-1.items-center
            %span
              %svg.h-6.w-6.text-brand-gray{xmlns: "http://www.w3.org/2000/svg", fill: 'currentColor'}
                %path{:d => "M0 11l2-2 5 5L18 3l2 2L7 18z"}
            %p.ml-3.text-brand-gray Angular CLI


