.parallax.overflow-hidden.bg-teal-700.p-16
  %div.grid.grid-cols-2.max-w-screen-lg.mx-auto
    %div
      %h2.text-5xl.font-bold.font-serif.tracking-tight Learn Programming
      %p.mt-2 Bussiness, Technology and Creative skills taught by industrial experts. Explore a wide range of skills with our professional tutorials
      %button.mt-10.px-6.bg-white.text-gray-900.py-2.rounded-md.text-xl.hover:bg-gray-200 Browse Courses
      %p.mt-6.font-bold.text-gray-300.underline.hover:no-underline
        = link_to 'Are you a teacher?', new_instructor_session_path, class: 'instructor-login-button'
    %div
      =image_tag 'macbook-teal.png', class: 'object-cover'

= render partial: 'landing/index/landing_lead'

.border-b-2.border-brand-secondary.py-10
  .max-w-screen-lg.mx-auto
    .flex.items-center.justify-between
      %h2.text-3xl.border-b-4.border-teal-600 Top Courses
      %div.flex.items-center
        %h3.text-sm.uppercase Popular Topics
        %div.pl-4
          = render @branches
    %div.pt-4
      %div.mt-4.grid.grid-cols.sm:grid-cols-2.md:grid-cols-3.lg:grid-cols-4.gap-4{ data: { controller: 'course-overlay' }}
        = render @top_courses
    %div.pt-10
      %button.block.mx-auto.px-4.py-2.bg-transparent.border.hover:bg-brand-gray.border-brand-gray.text-brand-gray.rounded.hover:text-white.transition-colors.duration-300 Browse Courses


