%div.max-w-screen-xl.mt-1.mr-auto.pb-4
  = link_to 'Library', '#', class: 'inline-block text-gray-500 ml-6 ont-semibold hover:text-white'
  = link_to 'Explore', '#', class: 'ml-6 text-gray-500 font-semibold hover:text-white'

  = render @branches
